<div class="container">
  <%= render 'shared/page_title', title: "All recipes" %>

    <div class="row">
      <% @recipes.each do |recipe| %>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
              <p><%= truncate(recipe.description, length: 40) %></p>
              <div class="created-by">
                <p>Shared by <%= recipe.chef.chefname %> <%= time_ago_in_words(recipe.updated_at) %> ago</p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

</div>
